@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
    background-color: #000000;
    color: #EEEEEE;
}

section{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulario{
    width: 100%;
    max-width: 700px;
}

#formulario > div{
    margin: 8px;
}

#formulario > div > input, #formulario > div > textarea {
    width: 100%;
    border-bottom: 2px inset #EEEEEE;
    background-color: #000000;
    color: #ffffff;
    border-radius: 3px;
}

textarea{
    height: 80px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
